<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>DracarysLogin</servlet-name>
      <servlet-class>LoginServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>HelloWorld</servlet-name>
      <servlet-class>HelloServlet</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>DracarysLogin</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>HelloWorld</servlet-name>
      <url-pattern>/sayhello</url-pattern>
   </servlet-mapping>
   
   <filter>
	<description>Requires user to log in as a member</description>
    <filter-name>UserFilter</filter-name>
    <filter-class>UserFilter</filter-class>
   </filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/dashboard.jsp</url-pattern>
	</filter-mapping>
   
</web-app>